@{
    ViewBag.Title = "ForgottenPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="module">
    <div class="forgotten-password">
        <div class="forgotten-password-header">
            <h2>Forgot your password?</h2>
        </div>
        <div class="forgotten-password-body">

            @using (Html.BeginForm("ForgottenPassword", "Account", null, FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("userEmail", "Enter your email address")
                    @Html.TextBox("userEmail", null, new { @class = "form-control" })
                    @Html.ValidationMessage("userEmail")
                </div>
                
                <input type="submit" class="btn btn-primary"  value="Submit" />
            }
           
        </div>
    </div>
</div>
