@{
    ViewBag.Title = "SearchHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-search-home col-lg-8 col-lg-offset-2">

    <div class="module container">
        <div class="module-inner">
            <header>
                <h1>
                    See what’s happening <strong>right now</strong>
                </h1>
            </header>

            <form action="/search" class="search-box-home container">
                <input type="text" name="search" class="extended-text-box" />
                <input type="submit" value="Search" class="pull-right btn btn-primary" />
            </form>
        </div>
    </div>
    <footer class="module user-footer">
        <div class="module-inner">
            <ul>
                <li class="copyright-item">
                    &copy; @DateTime.Now.Year Twitter
                </li>
                <li class="footer-item">
                    About
                </li>
                <li class="footer-item">
                    Help
                </li>
                <li class="footer-item">
                    Terms
                </li>
                <li class="footer-item">
                    Privacy
                </li>
                <li class="footer-item">
                    Cookies
                </li>
                <li class="footer-item">
                    Ads
                </li>
                <li class="footer-item"> info</li>
                <li class="footer-item"> Brand</li>
                <li class="footer-item"> Blog</li>
                <li class="footer-item"> Status</li>
                <li class="footer-item"> Apps </li>
                <li class="footer-item">Jobs</li>
                <li class="footer-item"> Advertise </li>
                <li class="footer-item">Media</li>
                <li class="footer-item"> Developers </li>

            </ul>
        </div>
    </footer>
</div>

