@{
    ViewBag.Title = "Index";
}

<h2>Administration Categories</h2>

@(Html.Kendo()
    .Grid<AspNetMvcExam.Web.Models.CategoryViewModel>()
    .Name("category-grid")
    .Pageable()
    .Sortable()
    .Editable(edit =>
            {
                edit.Mode(GridEditMode.InLine);
            })
    .Filterable()
    .Columns(col =>
            {
                col.Bound(m => m.Name);
                
                col.Command(com =>
                            {
                                com.Edit();
                                com.Destroy();
                            }).Title("Commands");
            }).ToolBar(toolbar => toolbar.Create())
    .DataSource(data =>
            {
                data.Ajax()
                    .ServerOperation(true)
                    .PageSize(10)
                    .Model(m =>
                        {
                            m.Id("Id");
                            m.Field(com => com.Name).Editable(true);
                        })
                    .Read("ReadCategory", "AdministrationCategories")
                    .Update("UpdateCategory", "AdministrationCategories")
                    .Destroy("DestroyCategory", "AdministrationCategories")
                    .Create("CreateCategory", "AdministrationCategories");
                
            }))
