@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Suggestions";
}

@section NavLinks{
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            @Html.ActionLink("Who To Follow", null)
        </li>
    </ul>
}

@section RandomUsers {
    @Html.Partial("_RandomUsersPartial")
}


@section ListItems {
    <div class="header">
        <div class="content-header">
            <h2>Who to follow</h2>
            <p class="subheader">Twitter accounts suggested for you based on who you follow and more.</p>
        </div>
        <div>

        </div>
    </div>

    @Html.Partial("_usersListPartial", Model)
}