@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Suggestions";
}

@section NavLinks{
    <div class="module">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                @Html.ActionLink("Who To Follow", null)
            </li>
        </ul>
    </div>
}

@section RandomUsers {
    <div class="module">
        <div class="module-inner">
            @Html.Partial("_RandomUsersPartial")
        </div>
    </div>
}

@section ListItems {
    <div class="module">
        <div class="module-inner">
            <div class="content-header">
                <h2>Who to follow</h2>
                <p class="subheader">Twitter accounts suggested for you based on who you follow and more.</p>
            </div>
            <div class="content-body">
                @Html.Partial("_UsersListPartial", Model)
            </div>
        </div>
    </div>  
}