@{
    ViewBag.Title = "Mentions";
}

@section  MiniProfile {
    <ul class="nav">
        <li>Interactions</li>
        <li>Mentions</li>
    </ul>
}

@section RandomUsers {
    <div class="row">
        <div class="row module-header">
            <h3>Who to follow</h3>
            <small>. </small>
            @Ajax.ActionLink("Refresh", "RandomUsers", "user", new AjaxOptions() { })
            <small>. </small>
            @Html.ActionLink("View all", "All", "user")
        </div>
        <div class="random-followers">
            @Html.Action("RandomUsers", "user")
        </div>
    </div>
}
@*</div>*@

@section ListItems {
    <div class="module row">
        <div class="content-header">
            <h2>Mentions</h2>
            <p class="subheader">Tweets that mention you, or are in reply to you, appear here. </p>
        </div>
    </div>
}
