@{
    ViewBag.Title = "Mentions";
}

@section  MiniProfile {
 
    <div class="module">
        <div class="module-inner">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#">Interactions</a>
                </li>
                <li class="active">
                    <a href="#">Mentions</a>
                </li>
            </ul>
        </div>
    </div>
}

@section RandomUsers {

    <div class="module">
        @Html.Partial("_RandomUsersPartial")
    </div>
     
}

@section ListItems {
    <div class="module">
        <div class="content-header">
            <h2>Mentions</h2>
            <p class="subheader">Tweets that mention you, or are in reply to you, appear here. </p>
        </div>
    </div>
}