<div class="mini-profile">
    <a href="@Url.Action("index", "user", new { username = Model.UserName })" class="account-summary-small">
        <b class="fullname">@Model.UserName</b>
        <small class="metadata">View my profile page</small>
    </a>
</div>
