@model IEnumerable<TwitterCopy.Models.Tweet>

<div class="content-header">
    <h2>Tweets</h2>
</div>

@if (Model.Count() > 0)
{
    foreach (var tweet in Model)
    {
        @Html.Partial("_TweetsListItem", tweet)
    }
}
else
{
    <div  class="empty-body" > 
        <h2>There are no tweets</h2>
    </div>
}

